# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cmake/

# Godot
.import/
logs/

# Misc
debug.bat
_draft/
_old/

# C++ build
*.exp
*.ilk
*.lib
*.pdb
#*.dll
*.idb
addons/zylann.treegen/native/src/*.obj

# SCons
*.dblite

# VSCode
*.vs/
.vscode/
/.ninja_deps
/.ninja_log
/addons/zylann.treegen/lib/*
/build.ninja
